{
	"READ_INBOUND_TEST_SERVER_TOKEN" : "<token>",
	"READ_SELENIUM_TEST_SERVER_TOKEN" : "<token>",
	"READ_LINK_TRACKING_TEST_SERVER_TOKEN" : "<token>",

	"WRITE_ACCOUNT_TOKEN" : "<token>",
	"WRITE_TEST_SERVER_TOKEN" : "<token>",
	"WRITE_TEST_SENDER_EMAIL_ADDRESS" : "apps@example.com",
	"WRITE_TEST_SENDER_SIGNATURE_PROTOTYPE": "anything+[TOKEN]@exmaple.com",
	"WRITE_TEST_EMAIL_RECIPIENT_ADDRESS" : "andrew+testing@example.com",
	"WRITE_TEST_DOMAIN_NAME" : "domain-verification.pstmrk.it",
	
	"BASE_URL" : "https://api.postmarkapp.com"
}