version: 2.1

workflows:
  node-tests:
    jobs:
      - unit-tests:
          name: node14
          version: "14.0"
      - unit-tests:
          name: node16
          version: "16.0"
      - unit-tests:
          name: node18
          version: "18.0"
      - unit-tests:
          name: node20
          version: "20.0"
      - unit-tests:
          name: node21
          version: "21.0"

jobs:
  unit-tests:
    parameters:
      version:
        type: string
    docker:
      - image: cimg/node:<< parameters.version >>
    steps:
      - checkout
      - run:
          name: Node Version
          command: |
            echo "node: $(node --version)"
      - when:
          condition:
            matches: { pattern: "14.0", value: << parameters.version >> }
          steps:
            - run:
                name: Install dependencies - legacy mode
                command: npm install
      - when:
          condition:
            not:
              matches: { pattern: "14.0", value: << parameters.version >> }
          steps:
            - run:
                name: Install dependencies
                command: npm ci
      - run:
          name: Install typescript
          command: |
            npm install --no-save typescript@4.7.4
      - run:
          name: Run tests
          command: npm test
